.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  padding: 40px 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  width: 300px;
  text-align: center;
}

.qr-code {
  margin-top: 20px;
  background: transparent;
  padding: 10px;
}

.download-btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #008cba;
  color: white;
  border: none;
}

input[type="color"] {
  margin-left: 10px;
}

select {
  width: 100%;
  padding: 10px 8px;
}
